body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: darkblue;
    color: white;
    margin: 0;
    font-family: "Courier";
}

p {
    margin: 0;
}

.title {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-weight: 700;
    font-size: larger;
}

.game {
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.theform {
    display: flex;
    align-items: center;
    justify-content: center;
}

#choose-move {
    color: black;
    font-weight: bolder;
    font-size: xx-large;
    text-align: center;
}

.box {
    max-width: 300px;
    transition: .5s;
}


.box img {
    display: block;
    width: 100%;
}

.box:hover {
    transform:scale(1.15);
    z-index: 2;
}

.scoreboard {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.scoreboard #score-title {
    font-size: xx-large;
    color: red;
    font-weight: 700;
}

#choose-move {
    color: black;
    font-weight: bolder;
    font-size: xx-large;
}

.results {
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 30vw;
    max-width: 300px;
    min-width: 210px;
}

.player-scores {
    display: flex;
    justify-content: space-between;
}

.computer-score {
    display: flex;
    justify-content: space-between;
}

.theform div {
    padding-top: 12px;
}

.bigger {
    display: flex;
    margin-top: 18px;
    color: yellow;
    font-size: x-large;
    font-weight: 700;
    flex-direction: column;
}

.display-computer-move p {
    display: inline;
}


.display-computer-move #computers-move {
    padding-left: 1em;
}

.status {
    text-align: center;
    padding: 20px;
}


.footer {
    min-height: 70px;
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* This is for the end of the game */ 

.end-game {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
}

#reload-page {
    height: 80px;
    width: 120px;
    border-radius: 25px;
    font-size: larger;
    font-weight: bolder;
    background-color: black;
    border-color: white;
    color: white;
}

